*.workspace.code-workspace
.idea
.babelrc.js
.editorconfig
.eslintrc.js
.gitignore
.jscpd.json
.mocharc.js
.prettierrc.js
.release-it.json
.travis.yml
nodemon.json
rollup.config.js
sonar-project.properties
tsconfig*

.github
.gitlab
.nyc_output
.report
.rollupcache
.scannerwork
.scripts
coverage
doc
node_modules
src
test
